# Coding Challange - 01

### Question 1:

Print the following tuple in reverse order.

tuple_1 = (22, 65, 12, 54)

#### Expected Output:

(54, 12, 65, 22)

In [1]:
tuple_1 = (22, 65, 12, 54)
print(tuple_1[::-1])

(54, 12, 65, 22)

### Question 2:

Access the name 'David' from the list given below.

myList = [(2, 14, 'David'), [2, 7], 'Shaun']

##### Expected Output:

'David'

In [6]:
myList = [(2, 14, 'David'), [2, 7], 'Shaun']

In [5]:
myList[0][2]

'David'

### Question 3:

We have a set and a dictionary given below. Print the set once again after adding the keys of the dictionary to the set. The order of the expected output may vary as it is a set.

mySet = {2, 4, 6}

myDict = {'A':'John', 'B':'Emma', 'C':'Sam'}

##### Expected Output:

{2, 4, 6, 'A', 'C', 'B'}

In [104]:
mySet = {2, 4, 6}
myDict = {'A':'John', 'B':'Emma', 'C':'Sam'}
mySet.union(myDict)

{2, 4, 6, 'A', 'B', 'C'}

In [105]:
mySet = {2, 4, 6}
myDict = {'A':'John', 'B':'Emma', 'C':'Sam'}
mySet.update(myDict)
print(mySet)

{2, 4, 'A', 6, 'B', 'C'}

### Question 4:
We have two sets given below. Print all the items from these sets after removing the duplicates.

set_1 = {2, 4, 6, 8}
<br>set_2 = {6, 8, 10, 12}

#### Expected Output:

{2, 4, 6, 8, 10, 12}

In [12]:
set_1 = {2, 4, 6, 8}
set_2 = {6, 8, 10, 12}

In [25]:
set_1.union(set_2)

{2, 4, 6, 8, 10, 12}

### Question 5:
Write a Python program to print the first and the last second of the day.

#### Expected Output:

First Second:  00:00:00
<br>Last Second:  23:59:59.999999

In [117]:
import datetime

print("First Second:",datetime.time.min)
print("Last Second:",datetime.time.max)

First Second: 00:00:00
Last Second: 23:59:59.999999

In [118]:
from datetime import timedelta
print("First Second:",timedelta(seconds=0))
print("Last Second:",timedelta(seconds=59, microseconds=999999, milliseconds=0, hours=23, minutes=59))

First Second: 0:00:00
Last Second: 23:59:59.999999

### Question 6:

Print the total number of digits in the number given below.

num = 8842

#### Expected Output:

Total digits are:  4

In [68]:
num = 8842
numString = str(num)
count = 0
for i in numString:
    count+=1
print("Total Digits are:",count)

print(len(numString))

Total Digits are: 4
4

In [123]:
num = 8842
count = 0
while num!=0:
    num = num//10 # last digit
    count+=1
print(count)

4

### Question 7:

We have a list of lists that contains several numbers. I want you to print the list whose sum of elements is the highest and also the lowest.

num_list = [[2, 8, 11], [4, 5, 7, 12], [8, 9, 10, 11], [19, 13, 7], [2, 5, 16]]

#### Expected Output:

The list with the maximum sum of elements:  [19, 13, 7]
<br>The list with the minimum sum of elements:  [2, 8, 11]

In [126]:
num_list = [[2, 8, 11], [4, 5, 7, 12], [8, 9, 10, 11], [19, 13, 7], [2, 5, 16]]

print("The List with the maximum sum of elements:",max(num_list, key=sum))
print("The List with the minimum sum of elements:",min(num_list, key=sum))

The List with the maximum sum of elements: [19, 13, 7]
The List with the minimum sum of elements: [2, 8, 11]

In [129]:
num_list = [[2, 8, 11], [4, 5, 7, 12], [8, 9, 10, 11], [19, 13, 7], [2, 5, 16]]

print("The List with the maximum sum of elements:",max(num_list, key=lambda x: sum(x)))
print("The List with the minimum sum of elements:",min(num_list, key=lambda x: sum(x)))

The List with the maximum sum of elements: [19, 13, 7]
The List with the minimum sum of elements: [2, 8, 11]

In [3]:
num_list = [[2, 8, 11], [4, 5, 7, 12], [8, 9, 10, 11], [19, 13, 7], [2, 5, 16]]
added_ele_sum = []

for i in num_list:
    add = sum(i)
    added_ele_sum.append(add)
      
print("sum of elements : ",added_ele_sum)
   
print("The list with the maximum sum of elements:",num_list[added_ele_sum.index(max(added_ele_sum))])
print("The list with the minimum sum of elements:",num_list[added_ele_sum.index(min(added_ele_sum))])

sum of elements :  [21, 28, 38, 39, 23]
The list with the maximum sum of elements: [19, 13, 7]
The list with the minimum sum of elements: [2, 8, 11]

In [99]:
print(num_list)
new_list = [(sum(i)) for i in num_list]
print(new_list)

for x,y in zip(new_list, num_list):
    if x== max(new_list):
        print("The list with the maximum sum of elements:",y)
    if x== min(new_list):
        print("The list with the minimum sum of elements:",y)

[[2, 8, 11], [4, 5, 7, 12], [8, 9, 10, 11], [19, 13, 7], [2, 5, 16]]
[21, 28, 38, 39, 23]
The list with the minimum sum of elements: [2, 8, 11]
The list with the maximum sum of elements: [19, 13, 7]

### Question 8:

We have a string that contains the names of different fruits. I want you to convert this string into multiple substrings where each substring includes one fruit's name.

fruits_string = " Apple, Banana, Mango, Kiwi, Guava, Grapes, Pomegranate, Orange, Watermelon"

#### Expected Output:

 Apple
 <br>Banana
 <br>Mango
 <br>Kiwi
 <br>Guava
 <br>Grapes
 <br>Pomegranate
 <br>Orange
 <br>Watermelon

In [132]:
fruits_string = " Apple, Banana, Mango, Kiwi, Guava, Grapes, Pomegranate, Orange, Watermelon"
# fruits_string = fruits_string.replace(',',' ')
for i in fruits_string.split(','):
    print(i)

 Apple
 Banana
 Mango
 Kiwi
 Guava
 Grapes
 Pomegranate
 Orange
 Watermelon

### Question 9:

Write a program to reverse words in a string.

sample_text = "Python is a high-level and general-purpose programming language"

#### Expected Output:

language programming general-purpose and high-level a is Python

In [55]:
sample_text = "Python is a high-level and general-purpose programming language"
print(sample_text[::-1])
print(' '.join(sample_text.split()[::-1]))

egaugnal gnimmargorp esoprup-lareneg dna level-hgih a si nohtyP
language programming general-purpose and high-level a is Python

### Question 10:

Given below is the height (in cm) of the top 10 students in a class. Print the heights of the top 3 students from the given list.

heights = [177, 160, 171, 163, 168,  175, 176, 183, 162, 170]

#### Expected Output:

Top Three Heights:  [183, 177, 176]

In [97]:
heights = [177, 160, 171, 163, 168, 175, 176, 183, 162, 170]
heights.sort() # bydefault reverse=False
print(heights)
print("Top Three Heights:",heights[-3:][::-1])

[160, 162, 163, 168, 170, 171, 175, 176, 177, 183]
Top Three Heights: [183, 177, 176]

In [101]:
heights = [177, 160, 171, 163, 168, 175, 176, 183, 162, 170]
heights.sort(reverse=True)
print(heights)
print("Top Three Heights:",heights[0:3])

[183, 177, 176, 175, 171, 170, 168, 163, 162, 160]
Top Three Heights: [183, 177, 176]

In [148]:
heights = [177, 160, 171, 163, 168, 175, 176, 183, 162, 170]
top3 = sorted(heights)
print("Top three:",top3[-1:-4:-1])

Top three: [183, 177, 176]