# Practice Exercise - 03

### Question 1:

Convert the string given below into a list by taking each word separated by a comma as an element.

languages = "Java, Python, C++, Scala, C"

#### Expected Output:

['Java', ' Python', ' C++', ' Scala', ' C']

In [5]:
languages = "Java, Python, C++, Scala, C"
[languages]

['Java, Python, C++, Scala, C']

In [9]:
newlist=[languages]
newlist, type(newlist)

(['Java, Python, C++, Scala, C'], list)

### Question 2:

We have a list of numbers given below. Add the element '10' at the 3rd position of the list and finally print the list.

num_list = [5, 6, 8, 7, 9]

#### Expected Output:

[5, 6, 8, 10, 7, 9]

In [82]:
num_list = [5, 6, 8, 7, 9]
num_list.insert(3,10)
print(num_list)

[5, 6, 8, 10, 7, 9]

### Question 3:

Print all the multiples of 3 between 5 and 25.
i.e You need to find and display all numbers between 5 and 25 that are divisible by 3.

#### Expected Output:

6
<br>9
<br>12
<br>15
<br>18
<br>21
<br>24

In [11]:
for num in range(5,25):
    if num%3 == 0:
        print(num)
    else:
        pass

6
9
12
15
18
21
24

### Question 4:

We have a list of numbers given below. Print the square of these numbers into another list using list comprehension.

num = [2, 4, 6, 8]

#### Expected Output:

[4, 16, 36, 64]

In [12]:
num = [2, 4, 6, 8]
square_num_list = [i*i for i in num]
print(square_num_list)

[4, 16, 36, 64]

### Question 5:

Print the first 10 natural numbers.

#### Expected Output:

1
<br>2
<br>3
<br>4
<br>5
<br>6
<br>7
<br>8
<br>9
<br>10

In [16]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [83]:
num = 1
while num <=10:
    print(num)
    num+=1

1
2
3
4
5
6
7
8
9
10

### Question 6:

We have a tuple of numbers given below. Remove the largest number from the tuple and print it in sorted order.

num_tuple = (5, 8, 13, 2, 17, 1)

#### Expected Output:

[1, 2, 5, 8, 13]

In [34]:
num_tuple = (5, 8, 13, 2, 17, 1)
#  coverting tuple to list
sorted_list = list(num_tuple)
# removing the maximum number from list
sorted_list.remove(max(sorted_list))
# sorting list in ascending order
sorted_list.sort()
print(sorted_list)

[1, 2, 5, 8, 13]

In [84]:
sorttup = sorted(num_tuple)
sorttup.pop()
sorttup

[1, 2, 5, 8, 13]

### Question 7:

Convert the list given below into a string using a comma as a separator argument.

myList = ['Lenovo', ' Dell', ' Acer', ' Asus', ' HP']

#### Expected Output:

'Lenovo, Dell, Acer, Asus, HP'

In [50]:
myList = ['Lenovo', ' Dell', ' Acer', ' Asus', ' HP']
result = ','.join(myList)
print(type(result))
result

<class 'str'>

'Lenovo, Dell, Acer, Asus, HP'

In [46]:
result.split(), type(result.split())

(['Lenovo,', 'Dell,', 'Acer,', 'Asus,', 'HP'], list)

### Question 8:

Print all the even numbers between -10 and 0.

#### Expected Output:

-10
<br>-8
<br>-6
<br>-4
<br>-2

In [51]:
for i in range(-10,0):
    if i%2==0:
        print(i)

-10
-8
-6
-4
-2

In [56]:
for i in range(-10,0,2):
    print(i)

-10
-8
-6
-4
-2

### Question 9:

Reverse the integer given below.

n = 5623

#### Expected Output:

3265

In [71]:
n = 5623
rn = 0

while n!=0:
    lastdigit = n % 10 # taken last digit
    rn = rn * 10 + lastdigit # add latdigit with result
    n = n//10 # remove the last digit from original
    
print(rn)

3265

In [75]:
n = 987654321
result = 0

while n >0:
    last_digit = n % 10 
    result = result * 10 + last_digit
    n = n//10
print(result)

123456789

### Question 10:

We have a list of numbers given below. Print the number, square of the number, and the cube of the number, all in a single list.

num = [2, 4, 6, 8]

#### Expected Output:

[(2, 4, 8), (4, 16, 64), (6, 36, 216), (8, 64, 512)]

In [76]:
num = [2, 4, 6, 8]
result = [(a,a**2,a**3) for a in num]
print(result)

[(2, 4, 8), (4, 16, 64), (6, 36, 216), (8, 64, 512)]

In [79]:
num = [(2,2), (4,4), (6,6), (8,8)]
result = [(a,b,a**2,a**3,b**2,b**3) for (a,b) in num]
print(result)

[(2, 2, 4, 8, 4, 8), (4, 4, 16, 64, 16, 64), (6, 6, 36, 216, 36, 216), (8, 8, 64, 512, 64, 512)]

In [81]:
num = [(2,2), (4,4), (6,6), (8,8)]
result = [(a,b, a*b, a**b) for (a,b) in num]
print(result)

[(2, 2, 4, 4), (4, 4, 16, 256), (6, 6, 36, 46656), (8, 8, 64, 16777216)]