# Practice Exercise - 01

### Question 1:

There are two numbers given below. Print the sum of these numbers if their product is greater than 100. Otherwise, print their product.

a = 15
<br>b = 12

#### Expected Output:

27

In [1]:
a = 15
b = 12
c = a * b

if c > 100:
    print(a+b)
else:
    print(c)

27

### Question 2:

Write a Python program to print the volume of a cone whose height and diameter are given below. (Take pi = 3.14)

h = 10
<br>d = 13

#### Expected Output:

442.21666666666664

In [3]:
h = 10
d = 13
r = d/2
pi = 3.14

volume = 1/3 * pi * (r*r) * h # ((1/3)*(3.14)*((d/2)**2)*h)
print(volume)

442.21666666666664

### Question 3:

We have the name and seat numbers of a student given below as two tuples. With this given data, print the students' names and their assigned seat numbers in a single line using the appropriate data type.

name = ('Shaun', 'Ron', 'Michael')
<br>seat_numbers = (101, 102, 103)

#### Expected Output:

{'Shaun': 101, 'Ron': 102, 'Michael': 103}

In [53]:
name = ('Shaun', 'Ron', 'Michael')
seat_numbers = (101, 102, 103)

result = zip(name, seat_numbers)
result = dict(result)
print(result)

{'Shaun': 101, 'Ron': 102, 'Michael': 103}

In [54]:
z = dict(zip(name,seat_numbers))
print(z)

{'Shaun': 101, 'Ron': 102, 'Michael': 103}

In [56]:
output = {}

for i in range(len(name)):
    output[name[i]] = seat_numbers[i]

print(output)

{'Shaun': 101, 'Ron': 102, 'Michael': 103}

In [61]:
output2 = {}
for i , j in enumerate(name):
    output2[name[i]] = seat_numbers[i]

print(output2)

{'Shaun': 101, 'Ron': 102, 'Michael': 103}

### Question 4:

We have a number given below. If the number is greater than 0, add 1 to it. Otherwise, subtract 1 from it, and print the new number obtained.

num = -6

#### Expected Output:

-7

In [62]:
num = -6

if num >0:
    num+=1
else:
    num-=1

print(num)

-7

### Question 5:

I have four variables, each assigned with certain values given below. A massive expression line follows it. Re-write the expression which suits the desired lexical model.

a = 5
<br>b = 2
<br>c = 8
<br>d = 7

x = (((a + b) * (a + c) * (a + d)) / ((b + a) * (b + c) * (b + d)) / ((c + a) * (c + b) * (c + d))) * (a * b * c * d)

#### Expected Output:

0.4977777777777778

In [75]:
a=5; b=2; c=8; d=7

x =   (((a+b) * (a+c) *  (a+d)) 
      / ((b+a) * (b+c) * (b+d))  
      / ((c+a) * (c+b) * (c+d))) * ((a*b*c*d))
    
x

0.4977777777777778

### Question 6:

There are two numbers given below. Compare them and print the result obtained.

a = 5
<br>b = 9

#### Expected Output:

b is greater than a

In [76]:
a=5; b=9

if a>b:
    print("a is greater than b")
else:
    print("b is greater than a")

b is greater than a

### Question 7:

We have a set given below. Find out whether 10 and 7 are present in the given set or not.

mySet = {5, 7, 2, 6, 3}

#### Expected Output:

False
<br>True

In [77]:
mySet = {5, 7, 2, 6, 3}

print(10 in mySet)
print(7 in mySet)

False
True

### Question 8:

We have a number given below. Write a program to check for the divisibility of this number by 3 and 5, and print the result obtained.

a = 12

#### Expected Output:

a is divisible by either 3 or 5, but not both

In [79]:
a=12

if a%3 == 0 and a%5==0:
    print("a is divisible by 3 and 5")
elif a%3 == 0 or a%5==0:
    print("a is divisible by either 3 or 5, but not both")
else:
    print("a is not divisible by 3 and 5")

a is divisible by either 3 or 5, but not both

### Question 9:

Write a Python program to check if the given year is a leap year.

year = 1996

#### Expected Output:

Leap Year

In [94]:
year = 1996

if year%4 == 0 and year%100 != 0:
    print(f"{year} is leap year")
elif year%4 == 0 and year%400 == 0 and year%100 == 0:
    print(f"{year} is leap year")
else:
    print(f"{year} is not leap year")

1996 is leap year

In [95]:
year = 1996

def isleap(year):
    if (year%4 == 0):
        if (year%100 == 0):
            if year%400 ==0:
                return True
            else:
                return False
        else:
            return True
    else:
        return False
    
if isleap(1996):
    print("Leap Year")
else:
    print("Not Leap Year")

Leap Year

### Question 10:

I have an examination form that requires the following information.

Name, Age, Roll Number, and Subjects. 

Declare the parameters mentioned above with a suitable data type, and then assign some values to it, and finally print the result.

#### Expected Output:

Name:  Sachin
<br>Age:  17
<br>Roll Number:  528841
<br>Subjects:  ['Maths', 'Physics', 'Chemistry', 'Computer Science', 'English']

In [96]:
def display(name,age,rollno,subjects):
    print("Name:",name)
    print("Age:",age)
    print("Roll Number:",rollno)
    print("Subjects:",subjects)

display("Sachin",17,528841,['Maths','Physics','Chemistry','Computer Science','English'])

Name: Sachin
Age: 17
Roll Number: 528841
Subjects: ['Maths', 'Physics', 'Chemistry', 'Computer Science', 'English']