# Working with string

### 1. String Literals

In [3]:
quote1 = 'Limit your "Always" AND "Nevers."'
quote2 = "Thime isn't the main thing. It's the only thing"
print(quote1)
print(quote2)

Limit your "Always" AND "Nevers."
Thime isn't the main thing. It's the only thing

In [5]:
msg = """Hi!
      How are you doing today?
when can we meet?"""
print(msg)

Hi!
      How are you doing today?
when can we meet?

In [6]:
'Don\'t run'

"Don't run"

In [8]:
# 'don't run' >> syntax error

In [9]:
msg = "Hi\nHow are you doing today?\nSee you at:\t10:00 AM"
print(msg)

Hi
How are you doing today?
See you at:	10:00 AM

### 2. String Functions

In [10]:
name = "Learning Journel"

In [11]:
name.split()

['Learning', 'Journel']

In [13]:
name = "Big Data, Machine Learning, Artificial Intelligence"

In [14]:
name.split(',')

['Big Data', ' Machine Learning', ' Artificial Intelligence']

In [18]:
namelist = ["Big Data", "Machine Learning", "Artificial Intelligence"]

In [19]:
namelist

['Big Data', 'Machine Learning', 'Artificial Intelligence']

In [21]:
namestring = ','.join(namelist)
print(namestring)

Big Data,Machine Learning,Artificial Intelligence

In [22]:
msg ='Hey there! I am going to the park.'
print(msg.replace('park','zoo'))
print(msg)

Hey there! I am going to the zoo.
Hey there! I am going to the park.

In [23]:
name = "    Learning Journel    "

In [24]:
name.strip()

'Learning Journel'

In [25]:
name.rstrip()

'    Learning Journel'

In [26]:
name.lstrip()

'Learning Journel    '

### 3. String Formatting

In [27]:
name = "John"
age = "25"

In [28]:
info = "Hey! It's " + name + ", and I am " + age + " years old."
print(info)

Hey! It's John, and I am 25 years old.

In [29]:
info = "Hey! It's {}, and I am {} years old.".format(name,age)
print(info)

Hey! It's John, and I am 25 years old.

In [30]:
info = f"Hey! It's {name}, and I am {age} years old."
print(info)

Hey! It's John, and I am 25 years old.

# Working with List and Tuple

In [32]:
myTuple = ('Big Data', 'Machine Learning')
myList = ['Artificial Intelligence', 'Data Analytics']
print(myTuple)
print(myList)

('Big Data', 'Machine Learning')
['Artificial Intelligence', 'Data Analytics']

In [33]:
# we can mix different types of elements

In [34]:
myList2 = ["A","B", 2, 2.8]
print(myList2)

['A', 'B', 2, 2.8]

In [35]:
myList2.append('Data Science')

In [36]:
print(myList2)

['A', 'B', 2, 2.8, 'Data Science']

In [37]:
myTuple

('Big Data', 'Machine Learning')

In [39]:
# myTuple.append("a") > AttributeError

In [40]:
myList, myTuple

(['Artificial Intelligence', 'Data Analytics'],
 ('Big Data', 'Machine Learning'))

In [41]:
print(len(myTuple))
print(len(myList))

2
2

In [42]:
list1 = [23,48,1, 17]
tuple1 = (25, 52, 7, 12)
print(max(list1))
print(min(list1))
print(max(tuple1))
print(min(tuple1))

48
1
52
7

In [43]:
list1.pop()

17

In [44]:
list1

[23, 48, 1]

In [45]:
list1.append(8)

In [46]:
list1

[23, 48, 1, 8]

In [47]:
list1.insert(0,11)

In [48]:
list1

[11, 23, 48, 1, 8]

# Loops, Range and List Comprehension

1. while loop
2. For loop
3. list comprehension

In [49]:
a=0
while a<5:
    print(a)
    a+=1

0
1
2
3
4

In [50]:
# break and continue statatement

In [54]:
name = "Learning Journel"
i =0

while True:
    if name[i] == 'J':
        break
    print(name[i])
    i+=1
    
print("Outside while loop")

L
e
a
r
n
i
n
g

Outside while loop

In [55]:
num = 5

while num>0:
    num-=1
    if num == 2:
        print('Continue opeartion done')
        continue
    print(num)
print('outside the while loop')

4
3
Continue opeartion done
1
0
outside the while loop

In [56]:
grocery_list = ['eggs', 'milk', 'bread','veggies']

for food in grocery_list:
    print(food)

eggs
milk
bread
veggies

In [57]:
myRange = range(10)

In [58]:
print(myRange)

range(0, 10)

In [59]:
for i in myRange:
    print(i)

0
1
2
3
4
5
6
7
8
9

In [60]:
for i in range(5, 10):
    print(i)

5
6
7
8
9

In [62]:
for i in range(5, 15, 2):
    print(i)

5
7
9
11
13

In [63]:
for i in range(15,5,-2):
    print(i)

15
13
11
9
7

In [64]:
rectangles = [(15,10), (3,5), (5,6)]

In [65]:
areas = [150, 15, 30]

In [66]:
rectangle_areas = [(15, 10, 150), (3,5,15),(5,6,30)]

In [67]:
# Traditional approch
areas = []

for (x,y) in rectangles:
    areas.append(x*y)
    
print(areas)

[150, 15, 30]

In [69]:
rectangles

[(15, 10), (3, 5), (5, 6)]

In [68]:
areas = []
rectangle_areas = []

for (x,y) in rectangles:
    areas.append(x*y)
    rectangle_areas.append((x, y, x*y))
    
print(areas)
print(rectangle_areas)

[150, 15, 30]
[(15, 10, 150), (3, 5, 15), (5, 6, 30)]

In [70]:
rectangles

[(15, 10), (3, 5), (5, 6)]

In [71]:
rectangle_areas = [(x, y, x*y) for (x,y) in rectangles]
rectangle_areas

[(15, 10, 150), (3, 5, 15), (5, 6, 30)]

# Python Dictionaries

In [1]:
# Two approaches to create dictionaries

In [26]:
info_1 = {'Abhi':7,'Shourya':9,'Amey':5}
print(info_1)

{'Abhi': 7, 'Shourya': 9, 'Amey': 5}

In [25]:
info_1 = {'Abhi':7,'Abhi':77,'Amey':5}
info_1['Abhi']

77

In [27]:
info_2 = dict({'Abhi':7,'Shourya':9,'Amey':5})

print(info_2)

{'Abhi': 7, 'Shourya': 9, 'Amey': 5}

In [28]:
info_3 = dict(Abhi=7,Shourya=9,Amey=5)
info_3

{'Abhi': 7, 'Shourya': 9, 'Amey': 5}

In [29]:
my_list = [('Tom',104), ('John',105)]

info_4 = dict(my_list)
print(info_4)

{'Tom': 104, 'John': 105}

In [30]:
my_tuple = (('Tom',104), ('John',105))

info_5 = dict(my_tuple)
print(info_5)

{'Tom': 104, 'John': 105}

In [32]:
my_tuple[0], my_tuple[1]

(('Tom', 104), ('John', 105))

In [33]:
info_1

{'Abhi': 7, 'Shourya': 9, 'Amey': 5}

In [34]:
info_1['Abhi']

7

In [36]:
info_1['Abhi']=1000
print(info_1)

{'Abhi': 1000, 'Shourya': 9, 'Amey': 5}

In [37]:
info_1

{'Abhi': 1000, 'Shourya': 9, 'Amey': 5}

In [38]:
info_1['Atharv']=10

In [39]:
print(info_1)

{'Abhi': 1000, 'Shourya': 9, 'Amey': 5, 'Atharv': 10}

In [40]:
info_1.keys()

dict_keys(['Abhi', 'Shourya', 'Amey', 'Atharv'])

In [42]:
info_1.values()

dict_values([1000, 9, 5, 10])

In [44]:
info_1.items()

dict_items([('Abhi', 1000), ('Shourya', 9), ('Amey', 5), ('Atharv', 10)])

In [48]:
for i, j in info_1.items():
    print(i,j)

Abhi 1000
Shourya 9
Amey 5
Atharv 10

In [49]:
info_1

{'Abhi': 1000, 'Shourya': 9, 'Amey': 5, 'Atharv': 10}

In [50]:
info_2

{'Abhi': 7, 'Shourya': 9, 'Amey': 5}

In [54]:
info_1_2 = {*info_1, *info_2}
print(info_1_2)

{'Abhi', 'Amey', 'Shourya', 'Atharv'}

In [55]:
info_1_2 = {**info_1, **info_2}
print(info_1_2)

{'Abhi': 7, 'Shourya': 9, 'Amey': 5, 'Atharv': 10}

In [56]:
info_1 = {'A':10, 'B':20, 'C':30}
info_2 = {'D':40, 'E':50, 'F':60}

In [58]:
info_1.update(info_2)

In [59]:
print(info_1)

{'A': 10, 'B': 20, 'C': 30, 'D': 40, 'E': 50, 'F': 60}

In [60]:
len(info_1)

6

In [61]:
del info_1['F']

In [62]:
info_1

{'A': 10, 'B': 20, 'C': 30, 'D': 40, 'E': 50}

In [63]:
del info_1

In [65]:
# info_1

In [66]:
info_1 = {'A':10, 'B':20, 'C':30}

In [68]:
info_1.clear()

In [69]:
info_1

{}

In [70]:
info_1 = {'A':10, 'B':20, 'C':30}

In [71]:
info_1.pop('A')

10

In [72]:
info_1

{'B': 20, 'C': 30}

In [73]:
'A' in info_1

False

In [74]:
'b' in info_1

False

In [75]:
'B' in info_1

True

In [76]:
info_1 = {'A':10, 'B':20, 'C':30}
info_2 = {'A':10, 'B':20, 'C':30}

In [77]:
info_1 == info_2

True

In [78]:
info_1 != info_2

False

In [82]:
# info_1 > info_2 >> TypeError

In [188]:
info = info_1.copy()
print(info_1)

{'A': 10, 'B': 20, 'C': 30}

In [189]:
msg = {'A':'sleep', 'B':'eat', 'C':['play','study']}

inform = msg.copy()

print(inform)
print(msg)

{'A': 'sleep', 'B': 'eat', 'C': ['play', 'study']}
{'A': 'sleep', 'B': 'eat', 'C': ['play', 'study']}

In [190]:
inform['C'][1] = 'cook'

In [191]:
print(inform)
print(msg)

{'A': 'sleep', 'B': 'eat', 'C': ['play', 'cook']}
{'A': 'sleep', 'B': 'eat', 'C': ['play', 'cook']}

In [192]:
import copy

inform = copy.deepcopy(msg)

print(inform)
print(msg)

{'A': 'sleep', 'B': 'eat', 'C': ['play', 'cook']}
{'A': 'sleep', 'B': 'eat', 'C': ['play', 'cook']}

In [193]:
inform['C'][1]='cricket'

print(inform)
print(msg)

{'A': 'sleep', 'B': 'eat', 'C': ['play', 'cricket']}
{'A': 'sleep', 'B': 'eat', 'C': ['play', 'cook']}

In [97]:
square = {x:x**2 for x in range(0,10)}
print(square)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

# set

In [98]:
mySet = {0,1,2,3}

In [99]:
print(mySet)

{0, 1, 2, 3}

In [100]:
# set is collection of unique elements

In [101]:
mySet = {0,0,0,1,2,2,2}
print(mySet)

{0, 1, 2}

In [104]:
myList=['Ram','Krishna','Hari', 'Ram', 'Krishna']

print(myList)

['Ram', 'Krishna', 'Hari', 'Ram', 'Krishna']

In [105]:
mySet = set(myList) # duplicates removed by usng set
mySet

{'Hari', 'Krishna', 'Ram'}

In [106]:
# empty set

myEmptySet = {} # in python empty curly brace will consider as a dictionary

In [107]:
type(myEmptySet)

dict

In [108]:
# for creation of empty set

myEmptySet = set()

In [109]:
type(myEmptySet)

set

In [110]:
# we can convert list, tuple, str into the set by using set function

set('Learning Journel')

{' ', 'J', 'L', 'a', 'e', 'g', 'i', 'l', 'n', 'o', 'r', 'u'}

In [111]:
# duplicates are removed but upper case and lower case will be considered as it is

set('Learning Journel'.lower())

{' ', 'a', 'e', 'g', 'i', 'j', 'l', 'n', 'o', 'r', 'u'}

In [112]:
set(['Ram', 'Radha', 'krishna', 'Hari'])

{'Hari', 'Radha', 'Ram', 'krishna'}

In [113]:
set(('A','B','C'))

{'A', 'B', 'C'}

In [114]:
set({1:'a',2:'b',3:'c',4:'d'}) # dictionary values will be ignored

{1, 2, 3, 4}

In [115]:
len(mySet)

3

In [116]:
# sets are mutable but you can add element in the existing set

mySet

{'Hari', 'Krishna', 'Ram'}

In [118]:
mySet.add('Radha')

In [119]:
mySet

{'Hari', 'Krishna', 'Radha', 'Ram'}

In [120]:
# add method will allow the single element at a time but update will allow to multiple element at a time

In [121]:
mySet.update(['R','A','K','H','A'])

In [122]:
mySet

{'A', 'H', 'Hari', 'K', 'Krishna', 'R', 'Radha', 'Ram'}

In [123]:
# UPDATE METHOD WILL ALSO TAKE TUPLE, DICT, AND STRING ALSO

In [126]:
mySet.remove('A')

In [127]:
mySet

{'H', 'Hari', 'K', 'Krishna', 'R', 'Radha', 'Ram'}

In [128]:
set1 = {0,1,2}
set2 = {2,3,4,5}

In [129]:
# union for merge the two sets

In [130]:
set1.union(set2)

{0, 1, 2, 3, 4, 5}

In [131]:
set1 | set2

{0, 1, 2, 3, 4, 5}

In [132]:
# intersetion for common element from both

In [133]:
set1.intersection(set2)

{2}

In [135]:
set1 & set2

{2}

In [136]:
# difference between two sets

In [137]:
set1.difference(set2)

{0, 1}

In [139]:
set1 - set2

{0, 1}

In [138]:
set2.difference(set1)

{3, 4, 5}

In [140]:
set2 - set1

{3, 4, 5}

In [141]:
# symmetric difference > either present in same or another

In [142]:
set1.symmetric_difference(set2)

{0, 1, 3, 4, 5}

In [144]:
set2 ^ set1

{0, 1, 3, 4, 5}

In [146]:
# LOGICAL OPERATION

In [145]:
mySet

{'H', 'Hari', 'K', 'Krishna', 'R', 'Radha', 'Ram'}

In [147]:
'H' in mySet

True

In [148]:
'H' not in mySet

False

In [149]:
set1

{0, 1, 2}

In [150]:
set2

{2, 3, 4, 5}

In [152]:
set1 = {0,1}
set2 = {0,1,2,3}

In [153]:
set1.issubset(set2)

True

In [155]:
set1 <= set2

True

In [157]:
set2.issuperset(set1)

True

In [158]:
set2 >= set1

True

In [159]:
myList = [1,2,3,4]

In [160]:
myList[1]

2

In [166]:
mySet = set([1,2,3,4])

In [167]:
mySet, type(mySet)

({1, 2, 3, 4}, set)

In [169]:
# mySet[2] > not possible in set

In [176]:
mySet = {1,3,5,8}

In [177]:
for i in mySet:
    print(i)

8
1
3
5

In [180]:
mySet1 = {1,2,3,4}

In [181]:
for i in mySet1:
    print(i)

1
2
3
4

In [183]:
# Frozenset > Frozenset is immutable(we cant modify )

In [184]:
myFrozenset = frozenset((0,2,4))

In [185]:
myFrozenset

frozenset({0, 2, 4})

In [187]:
# myFrozenset.add(9) > AttributeError:

# Datetime

date time module offers 

1. date
2. time
3. datetime
4. timedelta

all the obejctes are immutable, meance once created will not be changed you can munupulate and create new object

###### date

In [1]:
from datetime import date

In [7]:
dob = date(1990,8,21) # year, month, date
print(dob)

1990-08-21

In [9]:
date(1990,3,31)

datetime.date(1990, 3, 31)

In [10]:
date.today()

datetime.date(2024, 9, 19)

In [11]:
dob.day

21

In [12]:
dob.month

8

In [13]:
dob.year

1990

In [15]:
dob.strftime("%A %d - %B %Y")

'Tuesday 21 - August 1990'

In [23]:
dob.strftime("%T")

'00:00:00'

In [24]:
dob.today()

datetime.date(2024, 9, 19)

###### time

In [25]:
from datetime import time

In [26]:
meet = time(11,33,55,88) # h,min,sec,micsec

In [27]:
meet

datetime.time(11, 33, 55, 88)

In [28]:
print(meet)

11:33:55.000088

In [30]:
meet.hour, meet.minute, meet.second, meet.microsecond

(11, 33, 55, 88)

###### datetime

In [31]:
from datetime import datetime

In [32]:
dob_time = datetime(1988,11,27,6, 45, 50,999999)
# date, month, date, hour, minute, second, microsecond

In [33]:
print(dob_time)

1988-11-27 06:45:50.999999

In [34]:
dob_time.hour

6

In [36]:
dob_time.minute

45

In [37]:
dob_time.day

27

In [38]:
dob_time.second

50

###### timedelta

weeks, days, hours, minutes, seconds, microseconds, milliseconds

In [39]:
from datetime import timedelta

In [41]:
duration = timedelta(days=2, hours=3, minutes=45)

In [42]:
print(duration)

2 days, 3:45:00

In [44]:
my_dob = datetime(1991, 5, 17)
your_dob = datetime(1990, 8, 21)

In [46]:
# my_dob + your_dob  > TypeError: unsupported operand type(s) for +: 'datetime.datetime

In [47]:
my_dob - your_dob

datetime.timedelta(days=269)

In [48]:
duration = timedelta(days=2)

In [51]:
print(duration)

2 days, 0:00:00

In [54]:
my_dob

datetime.datetime(1991, 5, 17, 0, 0)

In [53]:
my_dob + duration

datetime.datetime(1991, 5, 19, 0, 0)

In [55]:
# subtract some thing

duration = timedelta(hours=1,seconds=15)

In [56]:
my_dob

datetime.datetime(1991, 5, 17, 0, 0)

In [57]:
my_dob-duration

datetime.datetime(1991, 5, 16, 22, 59, 45)

    datetime + datetime = not allowed
    datetime - datetime = datetime
    datetime + timedelta = datetime
    datetime - timedelta = datetime

In [58]:
my_time = time(8,15,10)
your_time = time(11, 33, 48)

In [59]:
print(my_time)

08:15:10

In [60]:
print(your_time)

11:33:48

In [62]:
# my_time - your_time > TypeError: unsupported operand type(s) for -: 'datetime.time'

In [63]:
my_time = time(10,0)
duration = timedelta(hours =1)

In [65]:
# my_time-duration > not supported

python does not support any arithmatic opeartion related to time, because time does not any sense with day

    time + timedelta = Not allowed
    time - timedelta = Not allowed
    time + time = Not allowed
    time - time = Not allowed

date but no time > date()
date and time > datetime()